<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BGTaskSchedulerPermittedIdentifiers</key>
	<array>
		<string>$(MainAppBundleIdentifier)</string>
	</array>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>batagor-deeplink</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>batagor</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
	</array>
	<key>GroupAppBundleIdentifier</key>
	<string>group.com.fuad.batagor</string>
	<key>MainAppBundleIdentifier</key>
	<string>com.fuad.batagor</string>
	<key>UIApplicationShortcutItems</key>
	<array>
		<dict>
			<key>UIApplicationShortcutItemIconSymbolName</key>
			<string>camera.viewfinder</string>
			<key>UIApplicationShortcutItemTitle</key>
			<string>Capture media</string>
			<key>UIApplicationShortcutItemType</key>
			<string>shortcutCamera</string>
		</dict>
	</array>
	<key>UIBackgroundModes</key>
	<array/>
</dict>
</plist>
